{% extends '::base.html.twig' %}

{% block login %}

    <form class="navbar-form pull-right">
        <input type="text" class="input-small" placeholder="Email">
        <input type="password" class="input-small" placeholder="Password">
        <button type="submit" class="btn">Sign in</button>
    </form>

{% endblock %}