@font-face {
  font-family: "MontBold";
  src: url('/socialgeo/SLICE/assets/fonts/Montserrat-Bold.eot');
  src: url('/socialgeo/SLICE/assets/fonts/Montserrat-Bold.eot?#iefix') format('eot'), url('/socialgeo/SLICE/assets/fonts/Montserrat-Bold.woff') format('woff'), url('/socialgeo/SLICE/assets/fonts/Montserrat-Bold.ttf') format('truetype'), url('/socialgeo/SLICE/assets/fonts/Montserrat-Bold.svg#MontBold') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "MontReg";
  src: url('/socialgeo/SLICE/assets/fonts/Montserrat-Regular.eot');
  src: url('/socialgeo/SLICE/assets/fonts/Montserrat-Regular.eot?#iefix') format('eot'), url('/socialgeo/SLICE/assets/fonts/Montserrat-Regular.woff') format('woff'), url('/socialgeo/SLICE/assets/fonts/Montserrat-Regular.ttf') format('truetype'), url('/socialgeo/SLICE/assets/fonts/Montserrat-Regular.svg#MontReg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

/* COLORS */
/* ===== INFO ==================================================================
   
   Author: Stijn Hens at heismestudio.com
   Theme: Template Name
   Copyright: http://heismestudio.com
   
   Long nights and a lot of coffee have been put in this website. 
   GTFO don't steal code!
   
   
   ========================================================================== */
/* line 15, ../sass/app.scss */
body {
  background: #f1f6fb;
  color: #5d92cb;
  font-family: 'MontReg';
}

/* line 22, ../sass/app.scss */
.contentwrapper {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

/* line 28, ../sass/app.scss */
header {
  z-index: 999;
  color: #f1f6fb;
}

/* line 33, ../sass/app.scss */
.navbar {
  border: none;
}

/* line 37, ../sass/app.scss */
.navbar-inverse .navbar-inner {
  background: #5d92cb;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 43, ../sass/app.scss */
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus, .navbar-inverse .nav > li > a:hover {
  color: #f1f6fb;
  background: no-repeat;
  border-bottom: 3px solid #517aaa;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 51, ../sass/app.scss */
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #f1f6fb;
  text-shadow: none;
  text-transform: uppercase;
}

/* line 57, ../sass/app.scss */
.navbar .brand {
  font-family: 'MontBold';
  font-size: 0.9em;
  line-height: 1.2em;
}

/* line 63, ../sass/app.scss */
.navbar .nav > li > a {
  padding: 10px 0 9px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 69, ../sass/app.scss */
.navbar-inverse .nav > li > a {
  font-family: 'MontReg';
  font-size: 0.9em;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}

/* line 76, ../sass/app.scss */
.spacer {
  position: relative;
  height: 60px;
  width: 100%;
}

/* line 82, ../sass/app.scss */
#main {
  position: relative;
}

/* line 86, ../sass/app.scss */
.contact-map {
  width: 100%;
  height: 500px;
}

/* Sticky footer styles
     -------------------------------------------------- */
/* line 102, ../sass/app.scss */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 108, ../sass/app.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
/* line 117, ../sass/app.scss */
#push, footer {
  height: 60px;
}

/* line 121, ../sass/app.scss */
footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  /* line 127, ../sass/app.scss */
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
